.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client__ico {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

  &:hover,
  &:focus {
    fill: var(--active-color);
    border: 1px solid var(--active-color);
  }
}
