/* GLOBAL */

:hover,
:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /* font-family: normal; */
}
img {
  display: block;
  /* max-width: 100%; */
  height: auto;
  width: 100%;
}
section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
